// Reset
@import 'reset';

:root {
  --body-padding: 64px;
  --border-color: #aaa;
  --body-color: #222;
  --heading-color: #222;
  --link-color: #0000ee;
  --white-color: #fff;
  --base-unit: 8px;
  --h00: 40px;
  --lead: 24px;
  --regular: 18px;
  --small: 14px;
  --regular-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media screen and (max-width: 768px) {
  :root {
    --body-padding: 32px;
  }
}

::-moz-selection {
  background-color: var(--link-color);
  color: var(--white-color);
}

::selection {
  background-color: var(--link-color);
  color: var(--white-color);
}

body {
  padding: var(--body-padding);
  font-family: var(--regular-font);
  font-size: var(--regular);
  color: var(--body-color);
  line-height: 1.5;
}

strong {
  font-weight: 500;
}

hr {
  margin: calc(var(--base-unit) * 6) 0;
  width: 150px;
  height: 1px;
  background-color: var(--border-color);
  border: none;
}

h1 {
  font-size: var(--h00);
  font-weight: 500;
  color: var(--heading-color);
}

h3 {
  margin-top: calc(var(--base-unit) * 2);
  font-weight: bold;
}

a {
  color: var(--link-color);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  margin: calc(var(--base-unit) * 2) 20px;

  li {
    list-style: disc;
  }
}

header {
  max-width: 410px;

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
}

.social {
  margin: calc(var(--base-unit) * 2) 0;

  a {
    display: inline-block;
    margin-right: var(--base-unit);
  }

  &__icon {
    width: 28px;
    height: 28px;
    fill: var(--body-color);

    &--twitter {
      &:hover {
        fill: #55acee;
      }
    }

    &--github {
      &:hover {
        fill: #000;
      }
    }

    &--linkedin {
      &:hover {
        fill: #0077B5;
      }
    }
  }
}

.lead {
  font-size: var(--lead);
  color: var(--heading-color);
}

.small {
  font-size: var(--small);
}

