  <hr>
  <div id="now">
    <h3>Now...</h3><br>
    <p><strong>Working at</strong></p>
    <p>Mango</p>
    <br />
    <div id="nowPlaying"></div>
  </div>
  <script>
    (() => {
      const xhr = new XMLHttpRequest();
      xhr.open("GET", "https://spotify.gerard.fun/now", true);
      xhr.onload = function (e) {
        if (xhr.readyState === 4) {
          if (xhr.status === 200) {
            const res = JSON.parse(xhr.responseText).playing;

            if (res.isPlaying) {
              const now = document.querySelector('#nowPlaying');
              const title = '<h2><strong>Listening</strong></h2>';
              const content = `<a href="https://open.spotify.com/track/${res.songUri.split('spotify:track:')[1]}" target="_blank">${res.songName}</a> of <a href="https://open.spotify.com/artist/${res.artists[0].uri.split('spotify:artist:')[1]}" target="_blank">${res.artists[0].name}</a>.`;

              now.innerHTML = title + content;
            }
          } else {
            console.error(xhr.statusText);
          }
        }
      };
      xhr.send(null);
    })();
  </script>
</body>
</html>
